<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>SberKot Fun</title>
</head>
<body>

<h2>СберКот Чат</h2>

<div class="user-form" id="username-page">
    <h2>Регистрация:</h2>
    <form id="usernameForm" action="signup.js" method="POST">

        <label for="username">Введите логин:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Введите пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Зарегистрироваться</button>
        <br>
        <br>
        <button onclick="location.href='/login'" type="button">
            Уже есть аккаунт?</button>

    </form>
</div>




<script src="/js/signup.js"></script>
</body>
</html>